header
    #mobileHeader
        a(href="/")#logo
            img(src="/img/files/logo.svg", alt="")
        #mobileCatalog
            img(src="/img/files/catalog.svg", alt="catalog")
            span Каталог товаров
        img(src="/img/files/search.svg", alt="search")#searchIcon
        img(src="/img/files/menu.svg", alt="menu")#menuButton
        //- #mobileMenu1
        //- #mobileMenu2
        //- #searchField
        //-     input(type="text")
    #desktopHeader
        section
        section