body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

button {
  outline: none;
}

@font-face {
  font-family: "header";
  src: url("/fonts/Manrope-ExtraBold.ttf");
}
@font-face {
  font-family: "text";
  src: url("/fonts/Manrope-Regular.ttf");
}
#desktopHeader {
  display: none;
}

#mobileHeader {
  display: flex;
  background-color: white;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}
#mobileHeader #mobileSection1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobileHeader #mobileSection1 #logo {
  width: 35px;
  height: 35px;
}
#mobileHeader #mobileSection1 #logo img {
  width: 100%;
  height: 100%;
}
#mobileHeader #mobileSection1 #mobileCatalog {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#mobileHeader #mobileSection1 #mobileCatalog img {
  width: 15px;
  height: 15px;
}
#mobileHeader #mobileSection1 #mobileCatalog span {
  color: #e60000;
  font-family: "text", Arial, Helvetica, sans-serif;
  margin-left: 5px;
}
#mobileHeader #chooseCityBg {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0aa1;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  width: 100vw;
  height: 100vh;
}
#mobileHeader #chooseCityBg #chooseCity {
  overflow: hidden;
  width: 75vw;
  height: 75vh;
  background-color: #fff;
}
#mobileHeader #chooseCityBg #chooseCity #chooseHeaderSection {
  padding: 0 15px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mobileHeader #chooseCityBg #chooseCity #chooseHeaderSection .location {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/location.png");
}
#mobileHeader #chooseCityBg #chooseCity #chooseHeaderSection h5 {
  font-family: "text", Arial, Helvetica, sans-serif;
  margin: 0;
}
#mobileHeader #chooseCityBg #chooseCity #chooseHeaderSection button {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#mobileHeader #chooseCityBg #chooseCity hr {
  margin: 0;
  border: 0.5px solid #4a4d4e;
}
#mobileHeader #chooseCityBg #chooseCity #cities {
  padding: 5px 15px;
}
#mobileHeader #chooseCityBg #chooseCity #cities input {
  width: 100%;
  margin: 25px 0 5px;
  border: none;
  outline: none;
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #333;
}
#mobileHeader #chooseCityBg #chooseCity #cities #cityList {
  margin-top: 15px;
  overflow-y: scroll;
  height: 48vh;
}
#mobileHeader #chooseCityBg #chooseCity #cities #cityList .city {
  display: flex;
  align-items: center;
  height: 50px;
}
#mobileHeader #chooseCityBg #chooseCity #cities #cityList .city span {
  margin-left: 15px;
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #333;
}
#mobileHeader #mobileSection2 {
  display: flex;
  justify-content: center;
  align-items: cneter;
}
#mobileHeader #mobileSection2 #searchIcon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
#mobileHeader #mobileSection2 #menuButton {
  width: 25px;
  height: 25px;
}
#mobileHeader #greyBackgound {
  display: none;
  background-color: #0a0a0aa1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#mobileHeader .verticalDiv {
  width: 0.8px;
  height: 20.8px;
  background-color: #4a4d4e;
}
#mobileHeader #mobileMenu1 {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 96vw;
  height: 100vh;
  background-color: white;
  right: 0;
  top: 0;
}
#mobileHeader #mobileMenu1 #userSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 2px 14px;
}
#mobileHeader #mobileMenu1 #userSection a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  font-family: "header", Arial, Helvetica, sans-serif;
}
#mobileHeader #mobileMenu1 #userSection a::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("/img/files/user.png");
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
  top: 14px;
}
#mobileHeader #mobileMenu1 #userSection button {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#mobileHeader #mobileMenu1 hr {
  margin: 0;
  border: 0.5px solid #4a4d4e;
}
#mobileHeader #mobileMenu1 #locationSection {
  display: flex;
  align-items: center;
  padding: 2px 14px;
}
#mobileHeader #mobileMenu1 #locationSection .locatonSection {
  display: flex;
  flex: 1;
  align-items: center;
  height: 45px;
}
#mobileHeader #mobileMenu1 #locationSection .locatonSection p {
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  margin-left: 10px;
}
#mobileHeader #mobileMenu1 #locationSection #mainCity .locationSign {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/location.png");
}
#mobileHeader #mobileMenu1 #locationSection #chooseLanguage {
  display: flex;
  justify-content: space-between;
}
#mobileHeader #mobileMenu1 #locationSection #chooseLanguage .arrow {
  width: 14px;
  height: 14px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/arrow.png");
}
#mobileHeader #mobileMenu1 #options {
  display: flex;
  flex-direction: column;
}
#mobileHeader #mobileMenu1 #options .section {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #333;
}
#mobileHeader #mobileMenu1 #options .section div {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#mobileHeader #mobileMenu1 #options .section span {
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  margin-left: 10px;
}
#mobileHeader #mobileMenu1 #links {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 15px 45px;
}
#mobileHeader #mobileMenu1 #links a {
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
}
#mobileHeader #mobileMenu1 #hotLine {
  text-decoration: none;
  margin-top: auto;
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
#mobileHeader #mobileMenu1 #hotLine #mobilePhoneNubmer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#mobileHeader #mobileMenu1 #hotLine #mobilePhoneNubmer #helperIcon {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  background-image: url("/img/files/helper.png");
}
#mobileHeader #mobileMenu1 #hotLine #mobilePhoneNubmer span {
  font-family: "text", Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
}
#mobileHeader #mobileMenu1 #hotLine #callMeBack span {
  font-family: "text", Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  color: #e60000;
}
#mobileHeader #catalog {
  overflow: hidden;
  display: none;
  flex-direction: column;
  background-color: white;
  width: 95vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
#mobileHeader #catalog #catalog2 {
  position: absolute;
  width: 95vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 15;
  left: 95vw;
  transition: 0.4s left;
}
#mobileHeader #catalog #catalog2 #headerOfCatalog2 {
  display: flex;
  background-color: #e60000;
  height: 50px;
  align-items: center;
  justify-content: center;
}
#mobileHeader #catalog #catalog2 #headerOfCatalog2 button {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/arrow_w.png");
  position: absolute;
  left: 15px;
  transform: rotate(90deg);
}
#mobileHeader #catalog #catalog2 #headerOfCatalog2 h3 {
  font-family: "header", Arial, Helvetica, sans-serif;
  color: white;
}
#mobileHeader #catalog #catalog2 .catalogElement {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}
#mobileHeader #catalog #catalog2 .catalogElement span {
  text-align: center;
  color: #333;
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
#mobileHeader #catalog #headerOfCatalog {
  display: flex;
  background-color: #e60000;
  height: 50px;
  align-items: center;
  justify-content: center;
}
#mobileHeader #catalog #headerOfCatalog button {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/crossWhite.svg");
  position: absolute;
  left: 15px;
}
#mobileHeader #catalog #headerOfCatalog h3 {
  font-family: "header", Arial, Helvetica, sans-serif;
  color: white;
}
#mobileHeader #catalog .catalogElement {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}
#mobileHeader #catalog .catalogElement span {
  flex: 1;
  text-align: center;
  color: #333;
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
#mobileHeader #catalog .catalogElement .cotalogPhoto {
  width: 25px;
  height: 25px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#mobileHeader #catalog .catalogElement .toCatalogElement {
  width: 15px;
  height: 15px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/arrow.png");
  transform: rotate(-90deg);
}
#mobileHeader #catalog hr {
  background-color: #4a4d4e;
  border: none;
  height: 1px;
  margin: 0;
}
#mobileHeader #searchField {
  display: none;
  padding: 10px 15px;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: white;
}
#mobileHeader #searchField #searchText {
  flex: 1;
  border: none;
  outline: none;
  font-family: "text", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #333;
}
#mobileHeader #searchField #searchReset {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/crossRed.svg");
  outline: none;
  margin: 0 5px;
}
#mobileHeader #searchField #searchSubmit {
  margin: 0 5px;
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/search.svg");
  outline: none;
}

@media (min-width: 375px) {
  #mobileHeader #mobileSection1 #mobileCatalog {
    margin-left: 25px;
  }
  #mobileHeader #mobileSection1 #mobileCatalog {
    margin-right: 25px;
  }
}
@media (min-width: 768px) {
  #mobileHeader #searchField {
    padding: 10px 100px;
  }
  #mobileHeader #catalog,
#mobileHeader #mobileMenu1 {
    width: 76vw;
  }
}
@media (min-width: 1024px) {
  #mobileHeader {
    display: none;
  }

  #desktopHeader {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }
  #desktopHeader nav,
#desktopHeader section {
    padding: 7px 30px;
  }
  #desktopHeader nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4a4d4e;
  }
  #desktopHeader nav .section1 a {
    margin: 0 15px;
    color: white;
    font-family: "text", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
  }
  #desktopHeader nav .section2 {
    display: flex;
  }
  #desktopHeader nav .section2 #phoneNumber {
    position: relative;
    cursor: pointer;
  }
  #desktopHeader nav .section2 #phoneNumber:hover > .arrow {
    transform: rotate(180deg);
  }
  #desktopHeader nav .section2 #phoneNumber:hover > .callMeBlock {
    display: block;
  }
  #desktopHeader nav .section2 #phoneNumber span {
    font-family: "text", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9rem;
    margin-right: 5px;
  }
  #desktopHeader nav .section2 #phoneNumber .arrow {
    width: 14px;
    height: 14px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/files/arrow.png");
    background-image: url("/img/files/arrow_w.png");
  }
  #desktopHeader nav .section2 #phoneNumber .callMeBlock {
    display: none;
    width: 121px;
    position: absolute;
    padding: 7px;
    color: white;
    background-color: #4a4d4eed;
    top: 26px;
    left: -10px;
    font-family: "text", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  #desktopHeader nav .section2 #city {
    cursor: pointer;
  }
  #desktopHeader nav .section2 #city .locationSign {
    width: 20px;
    height: 20px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/files/location.png");
    background-image: url("/img/files/location_w.png");
    width: 18px;
    height: 18px;
  }
  #desktopHeader nav .section2 #city span {
    margin-left: 5px;
    color: white;
    font-family: "text", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  #desktopHeader nav .section2 #language span {
    margin-right: 5px;
    color: white;
    font-family: "text", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  #desktopHeader nav .section2 #language .arrow {
    width: 14px;
    height: 14px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/files/arrow.png");
    background-image: url("/img/files/arrow_w.png");
  }
  #desktopHeader nav .section2 #myAccount span {
    margin-left: 5px;
    color: white;
    font-family: "text", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  #desktopHeader nav .section2 #myAccount .user {
    width: 25px;
    height: 25px;
    background-image: url("/img/files/user_w.png");
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #desktopHeader nav .section2 > div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 15px;
  }
  #desktopHeader section {
    display: flex;
    width: 100vw;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
  }
  #desktopHeader section .logo {
    width: 40px;
    height: 40px;
  }
  #desktopHeader section .logo img {
    width: 100%;
    height: 100%;
  }
  #desktopHeader section h3 {
    font-family: "text", Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: lighter;
    margin: 0 30px;
    font-size: 24px;
    cursor: pointer;
  }
  #desktopHeader section .search {
    margin-left: 15px;
    flex: 1;
    padding: 0 10px;
  }
  #desktopHeader section .search #searchField {
    display: flex;
    padding: 15px 0;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
  }
  #desktopHeader section .search #searchField #searchText {
    flex: 1;
    border: none;
    outline: none;
    font-family: "text", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #333;
  }
  #desktopHeader section .search #searchField #searchReset {
    width: 25px;
    height: 25px;
    border: none;
    background-image: url("/img/files/cross.svg");
    background-color: transparent;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/files/crossRed.svg");
    outline: none;
    margin: 0 10px;
  }
  #desktopHeader section .search #searchField #searchSubmit {
    width: 25px;
    height: 25px;
    border: none;
    background-image: url("/img/files/cross.svg");
    background-color: transparent;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/files/search.svg");
    outline: none;
    margin: 0 10px;
  }
  #desktopHeader section .search #searchField .verticalDiv {
    width: 0.8px;
    height: 20.8px;
    background-color: #4a4d4e;
  }
  #desktopHeader section .search .verticalDiv2 {
    height: 1px;
    background-color: #4a4d4e;
  }
  #desktopHeader section #match,
#desktopHeader section #favorite,
#desktopHeader section #bin {
    width: 35px;
    height: 35px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 25px;
    cursor: pointer;
  }
  #desktopHeader section #match {
    background-image: url("/img/files/scales.png");
  }
  #desktopHeader section #favorite {
    background-image: url("/img/files/favorite.png");
  }
  #desktopHeader section #bin {
    background-image: url("/img/files/bin.png");
  }
}
@media (min-width: 1440px) {
  #desktopHeader nav,
#desktopHeader section {
    padding: 7px 100px;
  }
  #desktopHeader section #match,
#desktopHeader section #favorite,
#desktopHeader section #bin {
    margin: 0 30px;
  }
}
@media (min-width: 2560px) {
  #desktopHeader nav,
#desktopHeader section {
    padding: 7px 500px;
  }
  #desktopHeader section #match,
#desktopHeader section #favorite,
#desktopHeader section #bin {
    margin: 0 50px;
  }
}

/*# sourceMappingURL=index.css.map */
