body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

button {
  outline: none;
}

#desktopHeader {
  display: none;
}

#mobileHeader {
  display: flex;
  background-color: white;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}
#mobileHeader #mobileSection1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobileHeader #mobileSection1 #logo {
  width: 35px;
  height: 35px;
}
#mobileHeader #mobileSection1 #logo img {
  width: 100%;
  height: 100%;
}
#mobileHeader #mobileSection1 #mobileCatalog {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#mobileHeader #mobileSection1 #mobileCatalog img {
  width: 15px;
  height: 15px;
}
#mobileHeader #mobileSection1 #mobileCatalog span {
  color: #e60000;
  margin-left: 5px;
}
#mobileHeader #mobileSection2 {
  display: flex;
  justify-content: center;
  align-items: cneter;
}
#mobileHeader #mobileSection2 #searchIcon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
#mobileHeader #mobileSection2 #menuButton {
  width: 20px;
  height: 20px;
}
#mobileHeader #greyBackgound {
  background-color: #0a0a0aa1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#mobileHeader .verticalDiv {
  width: 0.8px;
  height: 20.8px;
  background-color: #4a4d4e;
}
#mobileHeader #mobileMenu1 {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 96vw;
  height: 100vh;
  background-color: white;
  right: 0;
  top: 0;
}
#mobileHeader #mobileMenu1 #userSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 2px 14px;
}
#mobileHeader #mobileMenu1 #userSection a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
}
#mobileHeader #mobileMenu1 #userSection a::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("/img/files/user.png");
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
  top: 14px;
}
#mobileHeader #mobileMenu1 #userSection button {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#mobileHeader #mobileMenu1 hr {
  margin: 0;
  border: 0.5px solid #4a4d4e;
}
#mobileHeader #mobileMenu1 #locationSection {
  display: flex;
  align-items: center;
  padding: 2px 14px;
}
#mobileHeader #mobileMenu1 #locationSection .locatonSection {
  display: flex;
  flex: 1;
  align-items: center;
  height: 45px;
}
#mobileHeader #mobileMenu1 #locationSection .locatonSection p {
  margin: 0;
  margin-left: 10px;
}
#mobileHeader #mobileMenu1 #locationSection #mainCity .locationSign {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/location.png");
}
#mobileHeader #mobileMenu1 #locationSection #chooseLanguage {
  display: flex;
  justify-content: space-between;
}
#mobileHeader #mobileMenu1 #locationSection #chooseLanguage .arrow {
  width: 14px;
  height: 14px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/arrow.png");
}
#mobileHeader #mobileMenu1 #options {
  display: flex;
  flex-direction: column;
}
#mobileHeader #mobileMenu1 #options .section {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #333;
}
#mobileHeader #mobileMenu1 #options .section div {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#mobileHeader #mobileMenu1 #options .section span {
  margin: 0;
  margin-left: 10px;
}
#mobileHeader #mobileMenu1 #links {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 15px 45px;
}
#mobileHeader #mobileMenu1 #links a {
  color: #333;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
}
#mobileHeader #mobileMenu1 #hotLine {
  text-decoration: none;
  margin-top: auto;
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
#mobileHeader #mobileMenu1 #hotLine #mobilePhoneNubmer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#mobileHeader #mobileMenu1 #hotLine #mobilePhoneNubmer #helperIcon {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  background-image: url("/img/files/helper.png");
}
#mobileHeader #mobileMenu1 #hotLine #mobilePhoneNubmer span {
  color: #333;
  font-size: 14px;
}
#mobileHeader #mobileMenu1 #hotLine #callMeBack span {
  color: #333;
  font-size: 14px;
  color: #e60000;
}
#mobileHeader #catalog {
  display: none;
  flex-direction: column;
  background-color: white;
  width: 95vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
#mobileHeader #catalog #headerOfCatalog {
  display: flex;
  background-color: #e60000;
  height: 50px;
  align-items: center;
  justify-content: center;
}
#mobileHeader #catalog #headerOfCatalog button {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/crossWhite.svg");
  position: absolute;
  left: 15px;
}
#mobileHeader #catalog #headerOfCatalog h3 {
  color: white;
}
#mobileHeader #catalog .catalogElement {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}
#mobileHeader #catalog .catalogElement span {
  flex: 1;
  text-align: center;
  color: #333;
}
#mobileHeader #catalog .catalogElement .cotalogPhoto {
  width: 25px;
  height: 25px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#mobileHeader #catalog .catalogElement .toCatalogElement {
  width: 15px;
  height: 15px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/arrow.png");
  transform: rotate(-90deg);
}
#mobileHeader #catalog hr {
  background-color: #4a4d4e;
  border: none;
  height: 1px;
  margin: 0;
}
#mobileHeader #searchField {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: white;
}
#mobileHeader #searchField #searchText {
  flex: 1;
  border: none;
  outline: none;
}
#mobileHeader #searchField #searchReset {
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/crossRed.svg");
  outline: none;
  margin: 0 5px;
}
#mobileHeader #searchField #searchSubmit {
  margin: 0 5px;
  width: 25px;
  height: 25px;
  border: none;
  background-image: url("/img/files/cross.svg");
  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/files/search.svg");
  outline: none;
}

/*# sourceMappingURL=index.css.map */
