#desktopHeader{
    display: none;
}
#mobileHeader{
    display: flex;
    background-color: $white;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    #logo{
        width: 35px;
        height: 35px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    #mobileCatalog{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;   
        img{
            width: 15px;
            height: 15px;
        }
        span{
            color: $red;
            margin-left: 5px;
        }
    }
    #searchIcon{
        width: 25px;
        height: 25px;
    }
    #menuButton{
        width: 20px;
        height: 20px;
    }
}