#desktopHeader {
    display: none;
}
#mobileHeader {
    display: flex;
    background-color: $white;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    #mobileSection1 {
        display: flex;
        align-items: center;
        justify-content: center;
        #logo {
            width: 35px;
            height: 35px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        #mobileCatalog {
            margin-left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            img {
                width: 15px;
                height: 15px;
            }
            span {
                color: $red;
                @include font("text");
                margin-left: 5px;
            }
        }
    }
    #mobileSection2 {
        display: flex;
        justify-content: center;
        align-items: cneter;
        #searchIcon {
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }
        #menuButton {
            width: 25px;
            height: 25px;
        }
    }
    #greyBackgound {
        display: none;
        background-color: #0a0a0aa1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }
    .verticalDiv {
        width: 0.8px;
        height: 20.8px;
        background-color: $grey;
    }
    #mobileMenu1 {
        // display: flex;
        display: none;
        flex-direction: column;
        position: absolute;
        width: 96vw;
        height: 100vh;
        background-color: $white;
        right: 0;
        top: 0;
        #userSection {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 2px 14px;
            a {
                margin-left: 30px;
                text-decoration: none;
                color: $text_grey;
                @include font("header");
                &::before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    background-image: url("/img/files/user.png");
                    @include bg;
                    position: absolute;
                    left: 10px;
                    top: 14px;
                }
            }
            button {
                @include crossBtn;
            }
        }
        hr {
            margin: 0;
            border: 0.5px solid $grey;
        }
        #locationSection {
            display: flex;
            align-items: center;
            padding: 2px 14px;
            .locatonSection {
                display: flex;
                flex: 1;
                align-items: center;
                height: 45px;
                p {
                    @include font("text");
                    font-size: 0.9rem;
                    margin: 0;
                    margin-left: 10px;
                }
            }
            #mainCity {
                .locationSign {
                    @include locationSign;
                }
            }
            #chooseLanguage {
                display: flex;
                justify-content: space-between;
                .arrow {
                    @include arrow;
                }
            }
        }
        #options {
            display: flex;
            flex-direction: column;
            .section {
                display: flex;
                align-items: center;
                height: 45px;
                padding: 0 14px;
                text-decoration: none;
                color: $text_grey;
                div {
                    width: 20px;
                    height: 20px;
                    @include bg;
                }
                span {
                    @include font("text");
                    font-size: 0.9rem;
                    margin: 0;
                    margin-left: 10px;
                }
            }
        }
        #links {
            display: flex;
            flex-direction: column;
            background-color: $light_grey;
            padding: 15px 45px;
            a {
                @include font("text");
                font-size: 0.9rem;
                color: $text_grey;
                text-decoration: none;
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
        #hotLine {
            text-decoration: none;
            margin-top: auto;
            display: flex;
            height: 45px;
            justify-content: space-between;
            align-items: center;
            padding: 0 14px;
            #mobilePhoneNubmer {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                #helperIcon {
                    width: 20px;
                    height: 20px;
                    @include bg;
                    margin-right: 5px;
                    background-image: url("/img/files/helper.png");
                }
                span {
                    @include font("text");
                    color: $text_grey;
                    font-size: 14px;
                }
            }
            #callMeBack {
                span {
                    @include font("text");
                    color: $text_grey;
                    font-size: 14px;
                    color: $red;
                }
            }
        }
    }
    #catalog {
        display: none;
        // display: flex;
        flex-direction: column;
        background-color: $white;
        width: 95vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        #headerOfCatalog {
            display: flex;
            background-color: $red;
            height: 50px;
            align-items: center;
            justify-content: center;
            button {
                @include crossBtn;
                background-image: url("/img/files/crossWhite.svg");
                position: absolute;
                left: 15px;
            }
            h3 {
                @include font("header");
                color: $white;
            }
        }
        .catalogElement {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 50px;
            padding: 0 15px;
            span {
                flex: 1;
                text-align: center;
                color: $text_grey;
                @include font("text");
                font-size: 0.9rem;
            }
            .cotalogPhoto {
                width: 25px;
                height: 25px;
                @include bg;
            }
            .toCatalogElement {
                width: 15px;
                height: 15px;
                @include bg;
                background-image: url("/img/files/arrow.png");
                transform: rotate(-90deg);
            }
        }
        hr {
            background-color: $grey;
            border: none;
            height: 1px;
            margin: 0;
        }
    }
    #searchField {
        display: none;
        // display: flex;
        padding: 10px 15px;
        box-sizing: border-box;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 50px;
        background-color: $white;
        #searchText {
            flex: 1;
            border: none;
            outline: none;
            @include font("text");
            font-size: 0.9rem;
            color: $text_grey;
        }
        #searchReset {
            @include crossBtn;
            background-image: url("/img/files/crossRed.svg");
            outline: none;
            margin: 0 5px;
        }
        #searchSubmit {
            margin: 0 5px;
            @include crossBtn;
            background-image: url("/img/files/search.svg");
            outline: none;
        }
    }
}

@media (min-width: 375px) {
    #mobileHeader {
        #mobileSection1 {
            #mobileCatalog {
                margin-left: 25px;
            }
        }
        #mobileSection1 {
            #mobileCatalog {
                margin-right: 25px;
            }
        }
    }
}
@media (min-width: 768px) {
    #mobileHeader {
        #searchField {
            padding: 10px 100px;
        }
        #catalog,
        #mobileMenu1 {
            width: 76vw;
        }
    }
}
@import 'headerPC';