$white: white;
$red: #e60000;
$grey: #4a4d4e;
$light_grey: #f4f4f4;
$text_grey: #333;
$text_light_grey: #999;

body{
    margin: 0;
    padding: 0;
    background-color: $light_grey;
}
button{
    outline: none;
}