@import "init";
@import "slider";

#quality {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  padding: 15px 10px;
  box-sizing: border-box;
  .qualityBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;
    margin: 5px 0;
    padding: 10px 15px;
    &:nth-child(1) {
      .qualityBlockImg {
        background-image: url("/img/files/truck.png");
      }
    }
    &:nth-child(2) {
      .qualityBlockImg {
        background-image: url("/img/files/like.png");
      }
    }
    &:nth-child(3) {
      .qualityBlockImg {
        background-image: url("/img/files/checked.png");
      }
    }
    .qualityBlockImg {
      margin-right: 15px;
      width: 35px;
      height: 35px;
      background-size: 100%;
      background-position: 50%;
      background-repeat: no-repeat;
    }
    p {
      margin: 0;
      color: $white;
      @include font("text");
    }
  }
}

@media (min-width: 1024px) {
  #quality {
    padding: 25px;
    flex-direction: row;
    justify-content: center;
    .qualityBlock {
      width: 180px;
      flex-direction: column;
      border: none;
      .qualityBlockImg {
        margin-right: 0;
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1500px) {
  #quality {
    margin: auto;
    width: 1500px;
  }
}
